## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
#for saving work after
from google.colab import files

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_df=application_df.drop(columns=["EIN","NAME","SPECIAL_CONSIDERATIONS","INCOME_AMT"])
new_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,36500179,0

In [3]:
# Determine the number of unique values in each column.
unique_values= new_df.nunique()
unique_values

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_vc= new_df["APPLICATION_TYPE"].value_counts()
application_type_vc

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =list(application_type_vc[application_type_vc<1].index)

# Replace in dataframe
for app in application_types_to_replace:
    new_df['APPLICATION_TYPE'] = new_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
new_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_vc= new_df["CLASSIFICATION"].value_counts()
classification_vc

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >100 (https://re-thought.com/pandas-value_counts/, the lambda tip source)
classification_vc= new_df["CLASSIFICATION"].value_counts().loc[lambda x:x>1]
classification_vc

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_vc[classification_vc < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
new_dummies_df = pd.get_dummies(new_df)

In [10]:
# Split our preprocessed data into our features and target arrays
y= new_dummies_df["IS_SUCCESSFUL"].values
X=new_dummies_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test,y_train,y_test =train_test_split(X,y, random_state=0)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
deep_neural_net= len(X_train_scaled[0])
hidden_node_layer = 100
second_hidden_node_layer =80
third_hidden_node_layer = 60
fourth_hidden_node_layer =40
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node_layer, input_dim=deep_neural_net, activation='relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=second_hidden_node_layer, activation='relu'))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=third_hidden_node_layer, activation='relu'))
# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=fourth_hidden_node_layer, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               10600

 dense_1 (Dense)             (None, 80)                8080

 dense_2 (Dense)             (None, 60)                4860

 dense_3 (Dense)             (None, 40)                2440

 dense_4 (Dense)             (None, 1)                 41

=================================================================
Total params: 26,021
Trainable params: 26,021
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [53]:
# Train the model
trained_model = nn.fit(X_train_scaled, y_train, epochs=21)

Epoch 1/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 2/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 3/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 4/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7417
Epoch 5/21
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 6/21
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7402
Epoch 7/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 8/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 9/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 10/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7408
Epoch 11/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7416
Epoch 12/21
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 13/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 14/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7408
Epoch 15/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7413
Epoch 16/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 17/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 18/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 19/21
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7405
Epoch 20/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7406
Epoch 21/21
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7406

In [55]:
#Export our model to HDF5 file
nn.save('../saved_files/AlphabetSoupCharity_Optimizations_sub1.h5')

In [56]:
#exporting our DDF5 File
files.download('/saved_files/AlphabetSoupCharity_Optimizations_sub1.h5')